# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MPI-DB.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\ag\code_proj\_PROG\vs\_MPI\MPI-DB\.idea\.idea.MPI-DB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
